.diamonds-container{
    color: white; 
    display: flex; 
    flex-direction: column;
}

.diamonds-item{

}

.diamonds-properties-list{
    list-style:none; 
}

.single-diamond-show{
    color:white; 
}

.diamond-img{
     height: auto;
     width: auto;
     max-width: 300px;
     max-height: 300px;
}