/* header */

/* title section */

.splash-title {
  background-clip: border-box;
  /* background-image: url(https://images.unsplash.com/photo-1471201310397-b4dc5f0c49c5?auto=format&fit=crop&w=2602&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  /* background-image: url(https://images.unsplash.com/photo-1496124248071-3e497bb1696c?auto=format&fit=crop&w=1158&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  /* background-image: url(https://images.unsplash.com/photo-1503513270701-67f56ac2e4f6?auto=format&fit=crop&w=1655&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  /* background-image: url(https://images.unsplash.com/photo-1505177881989-a802eb3a7832?auto=format&fit=crop&w=1652&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  background-image: url(https://images.unsplash.com/photo-1504190171281-53bcec256266?auto=format&fit=crop&w=1791&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  /* background-image: url(https://images.unsplash.com/photo-1456154875099-97a3a56074d3?auto=format&fit=crop&w=1789&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  /* background-image: url(https://images.unsplash.com/photo-1495567357861-a3597539c9c6?auto=format&fit=crop&w=668&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D); */
  background-size: cover;
  background-position: top -1px right 0px;
  color: #659EC7;
  /*color: #ff4646;*/
  height: 900px;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.splash-title h1 {
  font-family: "Montserrat";
  font-size: 80px;
  position: relative;
  top: 20%;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	line-height: .75;
}

.splash-title h4 {
  font-size: 24px;
  font-family: 'Nunito', sans-serif;
  position: relative;
  top: 23%;
  font-weight: 300;
  text-shadow: 0px 0px 30px white;
  color: #f0f8ff;
}

/* why ethereum */

.why-ethereum {
  background: linear-gradient(0deg,  #145686, #09080c);
  height: 720px;
  color: #E0EAF4;
  position: relative;
}

.why-ethereum h1 {
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 200px;
  text-align: center;
  text-shadow: 0px 0px 2px white;
}

.underline {
  width: 60px;
  margin-bottom: 0px;
  height: 1px;
  background-color: #E0EAF4;
  border: none;
}

.why-ethereum div {
  display: flex;
  flex-direction: row;
  margin: 30px 130px;
}

.image-background {
  width: 400px;
  height: 400px;
  border-radius: 200px;
  background-color: white;
  position: absolute;
  z-index: 1;
  top: 300px;
  left: -20px;
}

.why-ethereum img {
  width: 350px;
  margin: 30px 0px;
  height: 65%;
  z-index: 2;
}

.why-ethereum p {
  padding: 0 40px;
  font-size: 20px;
  text-align: center;
}

/* how it works */

.how-it-works {
  background: linear-gradient(0deg,  #F7F6F4, #145686);
  height: 800px;
}

.how-it-works h1 {
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 200px;
  text-align: center;
  text-shadow: 0px 0px 2px #EEE;
  color: white;
}

.how-it-works ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .9em;
  min-width: 950px;
}

.black {
  background-color: black;
}

.contract-img {
  width: 150px;
  padding: 20px 0px 10px 0px;
}

.how-it-works ul li {
  margin: 15px;
  padding: 30px;
  width: 25%;
  position: relative;
  background-color: white;
  top: 10px;
  min-height: 280px;
  border-radius: 20px;
  text-align: center;
  opacity: .7;
  max-height: 500px;
  box-shadow: 1px 1px 2px #ccc;
}

.how-it-works ul li h6 {
  justify-content: center;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}

 /* how to use noncense */

.instructions {
  background: linear-gradient(0deg, #0fa5bd , #F7F6F4);
  /* background-image: url(https://images.unsplash.com/photo-1502675135487-e971002a6adb?auto=format&fit=crop&w=668&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-position: top -1px right 0px;
  height: 1800px; */
}

.instructions h1 {
  font-family: 'Nunito', sans-serif;
  justify-content: center;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 200px;
  text-align: center;
  text-shadow: 0px 0px 2px white;
}

.instructions hr {
  background-color: #7C7062;
  margin-bottom: 80px;
}

.instructions ul li {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-color: white;

  padding: 1px 10px 10px 10px;
  position: relative;
  width: 250px;
  height: 200px;
  margin-bottom: 80px;
  box-shadow: 2px 2px 2px #e6e6e6;
}

.instructions h6 {
  font-size: 18px;
}

/*contributors */

.contributors {
  background: linear-gradient(0deg, white, #0fa5bd);
  /*background-image: url(https://images.unsplash.com/photo-1503513270701-67f56ac2e4f6?auto=format&fit=crop&w=1655&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);*/

  height: 600px;
}

.contributors h1 {
  justify-content: center;
  color: #E0EAF4;
  font-size: 60px;
  font-weight: lighter;
  padding-top: 60px;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
  text-shadow: 1px 1px 1px #E0EAF4;
}

.contributors hr {
  background-color: #E0EAF4;
}

.contributors ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .9em;
  color: #1A62A3;
}

.contributors ul li {
  margin: 5px;
  padding: 30px;
  width: 25%;
  position: relative;
  background-color: #E0EAF4;
  top: 10px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  display: block;
}

.contributors ul li h6 {
  justify-content: center;
  font-size: 1.8em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.contributors ul li div {
  display: flex;
  flex-direction: column;
}

.contributors ul li div a {
  margin: 10px 0;
  text-decoration: none;
  color: #1A62A3;
}