/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Berkshire Swash', cursive;
}
code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  min-height:  calc(100vh);
  background-image: -webkit-linear-gradient(165deg, #FFFFFF 50%, #EEEEEE 35%);
}

.pure-button-primary {
  background-color: #0c1a2b;
  padding: 14px;
  border-radius: 5px;

}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form-message {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.signup-input {
    margin-left: auto !important;
    text-align: right;
    /* padding: 5px; */
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    border: 0px solid white !important;
    border-bottom: 1px solid rgb(109, 108, 108) !important;
    border-radius: 0px !important;
    box-shadow: inset 0 0px 0px white !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

/* NAVBAR */

.navbar {
  background-color: rgba(27, 23, 53, 0.5);
  padding: 5px;
  position: fixed;
  border-bottom: 1px solid rgb(82, 81, 81);
  padding: 10px;
  z-index: 100;
  height: 64px;
}

.pure-menu-item a {
  color: #E0EAF4;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #E0EAF4;
  margin: 0px 3px;
  background: transparent;
}

.pure-menu-item a:active,
.pure-menu-item a:focus,
.pure-menu-item a:hover {
  background: white;
  color: black;
  border-bottom: 1px solid #E0EAF4;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.pure-menu-heading.pure-menu-link {
  color: #E0EAF4;
  border: 0px solid;
  padding: 7px 0px;
}

.header-logo {
  width: 35px;
  padding-right: 10px;
}

.header-logo-link {
  text-decoration: none;
  color: white;
}

.header-logo-container {
  width: 400px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}